body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:rgba(230, 230, 230, 0.761);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 1%;
    height: 5%;
    background: rgb(8, 27, 138);
    color: whitesmoke;
}

img {
    justify-content: center;
    object-fit: cover;
    width: 800px;
    height: 150px;
    object-position: 10% 20%;
}

.container {
    display: flex;
    margin: auto;
    width: 60%;
}

.flex {
    
    flex: 1;
    text-align: center;
    margin: 15px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(132, 208, 235);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.eth-image {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.compare-btn {
    
    width: 100%;
}

.btc-image {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}