body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 1%;
    height: 5%;
    background: #b4a42b;
    color: whitesmoke;
}

.main {
    display: flex;
}
